@if(job_search.myTags && job_search.myTags.length > 0){
<main
  class="bg-white -mt-12 mx-6 xl:mx-36 lg:mx-16 lg:-mt-8 flex relative p-4 lg:p-4 px-4 lg:px-10 rounded-md shadow-xl"
>
  <div class="tags flex flex-wrap gap-5">
    @for(job of job_search.myTags ; track job_search.myTags ){
    <div class="search-tag rounded-md flex">
      <p
        class="text-text-cyan font-bold text-lg search-tag p-2 rounded-l-lg bg-filter-cyan"
      >
        {{ job }}
      </p>
      <div
        class="close bg-text-cyan hover:bg-darkest-cyan cursor-pointer p-2.5 flex items-center rounded-r-lg"
        (click)="deleteTag(job)"
      >
        <img src="../../../assets/images/icon-remove.svg" alt="" class="h-5" />
      </div>
    </div>
    }
  </div>

  <div class="clear ml-auto mt-auto mb-auto" (click)="clearAll()">
    <p
      class="hover:text-text-cyan text-dark-cyan font-bold text-center mt-1 lg:mt-3 cursor-pointer peer"
    >
      Clear
    </p>
    <div
      class="hover-line bg-text-cyan h-[1px] -mt-[7.5px] invisible peer-hover:visible"
    ></div>
  </div>
</main>
}
